<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
<!---==================================== NAV ================================-->
<div class="container1">
<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ path('admin_cpanel') }}">Accueil Interface Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_categorie') }}">Les catégories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_produit_categorie') }}">Nos produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_trouver') }}">Ou nous trouver</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{#{{ path('admin_qui_sommes_nous') }}#}">Qui sommes nous ?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('admin_users') }}">Information</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>
      </form>
    </div>
  </div>
  </div>
</nav>

<!---==================================== FIN NAV ================================-->

        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
