{% if is_granted('ROLE_USER') %}
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                    {% endif %}